<ul class="list-unstyled">
    <li class="mb-3"><a href="/pricing/" class="text-white">Pricing</a></li>
    <li class="mb-3"><a href="/challenge-coins/" class="text-white">Challenge Coins</a></li>
    <li class="mb-3"><a href="/bottle-openers/" class="text-white">Bottle Openers</a></li>
    <li class="mb-3"><a href="/dog-tags/" class="text-white">Dog Tags</a></li>
    <li class="mb-3"><a href="/medallions/" class="text-white">Medallions</a></li>
    <li class="mb-3"><a href="/gallery/" class="text-white">Gallery</a></li>
</ul>