<label class="w-100" id="{{ .prefix }}uploads">
    <div class="d-flex justify-content-center align-items-center text-center border p-10" style="cursor:pointer">
        <div>
            <div class="text-muted mb-3">
                <i class="fas fa-file-upload fa-3x"></i>
            </div>
            <div>Drag and drop a file here or click to choose</div>
            <div class="spinner-border text-secondary mt-3 d-none" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <input hidden type="file" multiple>
        </div>
    </div>
</label>
<div id="{{ .prefix }}uploads-thumbnails" class="mt-3"></div>