<div class="payment-option-credit d-none">
    <h5>
        <i class="fab fa-cc-visa fa-lg"></i>
        <span class="cc-name">Visa</span><span class="cc-last-4-parent d-none"> •••• <span class="cc-last-4">1234</span></span>
    </h5>
    <p class="expiry text-muted small d-none mb-0">Expires <span class="cc-expires">10/28</span></p>
</div>
<div class="payment-option-check d-none">
    <h5>
        Check <span class="check-number"></span>
    </h5>
</div>
<div class="payment-option-balance d-none">
    <h5>
        Account Balance
    </h5>
    Available balance: <b class="available-balance">$0.00</b>
</div>
<div class="payment-option-cash d-none">
    <h5>
        Cash
    </h5>
</div>
<div class="payment-option-wire d-none">
    <h5>
        Wire Transfer
    </h5>
</div>
<div class="payment-option-later d-none">
    <h5>
        Pay Later
    </h5>
</div>
<div class="payment-option-paypal d-none">
    <h5>
        <i class="fab fa-paypal"></i> PayPal
    </h5>
</div>
<div class="payment-option-po d-none">
    <h5>
        Purchase Order <span class="po-number"></span>
    </h5>
    <p class="text-muted small d-none">Check <span class="check-number"></span></p>
</div>
<div class="payment-option-bank d-none">
    <h5>
        Bank Account
        <p class="ending-in d-none text-muted small mb-0">Ending in <span class="cc-last-4">1234</span></p>
    </h5>
</div>